* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #71afb0;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.game {
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box {
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vh;
    color: #b0413e;
    background-color: #ffffc7;
}

.x-color {
    color: #b0413e;
}
.o-color {
    color: rgb(9, 9, 62);
}

#reset {
    padding: 1vh;
    font-size: 1.25vh;
    border-radius: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-game {
    padding: 1vh;
    font-size: 1.25vh;
    border-radius: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
}

.msg_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;;
}

.hide {
    display: none;
}